{% extends 'layouts/base.html' %}

{% block title %} Live Translation {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}
<style>

    .overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(255, 255, 255, 0.5);
      z-index: 100;
      display: none;
    }

    .spinner {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      border: 4px solid #f3f3f3;
      border-top: 4px solid #3498db;
      border-radius: 50%;
      width: 50px;
      height: 50px;
      animation: spin 2s linear infinite;
    }

    @keyframes spin {
      0% { transform: rotate(0deg); }
      100% { transform: rotate(360deg); }
    }

    .my_scroll_div{
      overflow-y: auto;
      max-height: 480px;
    }

  </style>

{% endblock stylesheets %}

{% block content %}

    <div class="container-fluid py-4">
      <div class="row my-4">
        <div class="col-lg-8 col-md-6 mb-md-0 mb-4">
          <div class="card">
            <div class="card-header pb-0">
              <div class="row">
                <div class="col-lg-6 col-7">
                  <p>Video feed for Live Translation</p>
                </div>
                <div class="col-lg-6 col-5 my-auto text-end">
                  <a class="btn bg-gradient-dark mb-0" id="translate" href="javascript:;" style="font-size: 0.75em; padding: 0.25rem 0.5rem;"><i class="fas fa-regular fa-hands"></i>&nbsp;&nbsp;Translate</a> 
                </div>
              </div>
            </div>
            <div class="card-body px-0 pb-2">
              <div class="container">
                <div class="row">
                  <div class="video-container">
                    <img id = "video" width="640" height="480" style="display: none;">

                    <div id="loading-overlay" class="overlay">
                      <div class="spinner"></div>
                    </div>                    
                </div>
                 
                </div>
            </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="card h-100">
            <div class="card-header pb-0">
              <div class="row">
                <div class="col-lg-8 col-7">
                  <h6>Kinyarwanda Text</h6>
                </div>
                <div class="col-lg-4 col-5 my-auto text-end">
                  <a class="btn bg-gradient-dark mb-0" id="clear_text" href="javascript:;" style="font-size: 0.75em; padding: 0.25rem 0.5rem;"><i class="fas fa-eraser" aria-hidden="true"></i>&nbsp;&nbsp;Clear</a>
                </div>
              </div>
            </div>
            <div class="card-body p-3 my_scroll_div" id="kinyarwanda_text">
              <!-- <p id="kinyarwanda_text"></p> -->
            </div>
          </div>
        </div>
      </div>

      {% include "includes/footer.html" %}

    </div>

{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}
<script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/4.1.3/socket.io.js"></script>
<script type="text/javascript">

    // Variable Definition
    const video = document.getElementById('video');
    const text = document.getElementById('kinyarwanda_text');
    const translate_button = document.getElementById('translate');
    const clearText_button = document.getElementById('clear_text');
    var loadingOverlay = document.getElementById('loading-overlay');


      video.style.display='none';

    // Define variable for video state
    let videoState = false;


    // Releasing the camera on refresh
    video.src="";
    var xhr = new XMLHttpRequest();
    xhr.open('GET', '/stop_feed');
    xhr.send();

    // Add event listener to buttons
    translate_button.addEventListener('click', toggleVideo);

    // Add event listener to clear text button
    clearText_button.addEventListener('click', clearText);

    // Stop the loading once the feed started to be received
    video.addEventListener('load', function() {
      loadingOverlay.style.display = 'none';
      updateSentence();
    });

        
    // Turn on the video and began to translate
    function toggleVideo() {

      // Toggle video state
      videoState = !videoState;

      // If video is running, start it and show video element
      if (videoState) {
        
        var xhr = new XMLHttpRequest();
			  xhr.open('GET', '/video_feed');
			  xhr.send();
        video.style.display='block'; 
        loadingOverlay.style.display = 'block';
        video.src = "{{ url_for('video_feed') }}?rand=" + Math.random();
        translate_button.innerHTML= '<i class="fas fa-solid fa-hands"></i>&nbsp;&nbsp;Stop'; // Update button text to "Stop" 
      }
      // If video is stopped, stop it and hide video element
      else {
        video.src="";
        var xhr = new XMLHttpRequest();
			  xhr.open('GET', '/stop_feed');
			  xhr.send();
        video.style.display = 'none';
        translate_button.innerHTML= '<i class="fas fa-regular fa-hands"></i>&nbsp;&nbsp;Translate'; // Update button text to "Start"

      }
    }

    let wordcount = 0;

 
    let sentenceIntervalId = null;

    function updateSentence() {

      clearInterval(sentenceIntervalId);

      isTranslationDone()
      .then(word => {
        if (word === "True") {
          clearInterval(sentenceIntervalId);
        } else {
          fetch('/get_sentence')
          .then(response => response.text())
          .then(data => {

            const words = data.split('*');

            if (words.length != wordcount) {
              // loop through each word and display it on a new line
              for (let i = wordcount ; i < words.length; i++) {
                const word = words[i];
                const wordElement = document.createElement('p');
                wordElement.textContent = word;
                text.insertBefore(wordElement, text.firstChild); // append to the div instead of the body
                wordcount = words.length;
              }
            }

            sentenceIntervalId = setInterval(updateSentence, 1000);
          })
          .catch(error => {
            console.error('Error fetching sentence:', error);
          });
        }
      });
    }



    // Clear Sentence
    function clearText(){
        fetch('/clear_sentence', { method: 'POST' })
          .then(response => {
            if (response.ok) {
              text.replaceChildren();
              // Refresh the displayed sentence
              updateSentence();
            }
          })
          .catch(error => console.error(error));
      }

      clearText();

    //  Fetching the sentence   
    function isTranslationDone() {
          
          // fetching the sentence only if the video is playing
          return fetch('/live_translation_status')
            .then(response => response.text())
            .then(data => {
              const status = data.trim(); // trim to remove any leading/trailing whitespace
              return status; // return the word
            });
        }
    

      
</script>
 
{% endblock javascripts %}
