{% extends 'layouts/base.html' %}

{% block title %} Recorded Translation {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}
<style>
    .overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(255, 255, 255, 0.5);
      z-index: 100;
      display: none;
    }

    .spinner {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      border: 4px solid #f3f3f3;
      border-top: 4px solid #3498db;
      border-radius: 50%;
      width: 50px;
      height: 50px;
      animation: spin 2s linear infinite;
    }

    @keyframes spin {
      0% { transform: rotate(0deg); }
      100% { transform: rotate(360deg); }
    }

  </style>

{% endblock stylesheets %}

{% block content %}

    <div class="container-fluid py-4">
      <div class="row my-4">
        <div class="col-lg-8 col-md-6 mb-md-0 mb-4">
          <div class="card">
            <div class="card-header pb-0">
              <div class="row">
                <div class="col-lg-6 col-7">
                  <p> Upload  a recored Video  for ranslation</p>
                </div>
              </div>
              <div class="row">
                <form method="POST" enctype="multipart/form-data" id="video-upload-form" action="/rVideo_feed" >
                  <div class ="row">
                      <div class="col-lg-8 mb-3">
                          <input  class="form-control" type="file" id="upload_video" name="video" accept="video/*" >
                      </div> 
                      <div class="col-lg-4 mb-3">
                        <button type="submit" id="translate" class="btn bg-gradient-dark mb-0" ><i class="fas fa-solid fa-upload"></i>&nbsp;&nbsp;Upload and Translate</button>
                      </div> 
                    </div>
                  </form>
              </div>
            </div>
            <div class="card-body px-4 pb-2">
              <div class="video-container">
                <img id = "uploaded-video" width="640" height="480" style="display: none;"controls>

                <div id="loading-overlay" class="overlay">
                  <div class="spinner"></div>
                </div>                    
            </div>
          </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="card h-100">
            <div class="card-header pb-0">
              <div class="row">
                <div class="col-lg-8 col-7">
                  <h6>Kinyarwanda Text</h6>
                </div>
                <div class="col-lg-4 col-5 my-auto text-end">
                  <a class="btn bg-gradient-dark mb-0" id="clear_text" href="javascript:;" style="font-size: 0.75em; padding: 0.25rem 0.5rem;"><i class="fas fa-eraser" aria-hidden="true"></i>&nbsp;&nbsp;Clear</a>
                </div>
              </div>
            </div>
            <div class="card-body p-3" id="kinyarwanda_text">
            </div>
          </div>
        </div>
      </div>

      {% include "includes/footer.html" %}

    </div>

{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}

<script type="text/javascript">
    // Variable Definition
    var loadingOverlay = document.getElementById('loading-overlay');
    var text = document.getElementById('kinyarwanda_text');
    const form = document.getElementById('video-upload-form');
    const video = document.getElementById('uploaded-video');
    const clearText_button = document.getElementById('clear_text');
    // var sentenceIntervalId;

    // video loading effect
    video.addEventListener('load', function() {
      loadingOverlay.style.display = 'none';
    
      // Fetching the translated sentences 
       updateSentence();
    });

    // Add event listener to clear text button
    clearText_button.addEventListener('click', clearText);


    // Video Upload,
    form.addEventListener('submit', async (event) => {
      event.preventDefault(); // prevent default form submission

      const formData = new FormData(form);
      const response = await fetch('/rVideo_feed', {
        method: 'POST',
        body: formData
      });

      if (response.ok) {
        const jsonResponse = await response.json(); // parse response body as JSON
        const video_name = jsonResponse.video_name; // extract video_url from JSON response
        transalteVideo(video_name);

      } else {
        alert('Something went wrong. Please refresh the page and try again')
      }
    });


    // funtion to translate the uploaded video and display the content on the Img tag 

    function transalteVideo(video_name){

      // Show the video displaying  elements
      video.style.display='block'; 
      loadingOverlay.style.display = 'block';


      // initiate the translation by calling the route.
      var xhr = new XMLHttpRequest();
      xhr.open('GET', '/uploads/videos/' + video_name);
      xhr.send();

      // Creating and assigning the images to the image tag
      var video_url = '/uploads/videos/' + video_name + '?rand=' + Math.random();
      video.src = video_url;
    }


    let wordcount = 0;

    
    let sentenceIntervalId = null;

    function updateSentence() {

      clearInterval(sentenceIntervalId);

      isTranslationDone()
      .then(word => {
        if (word === "True") {
          clearInterval(sentenceIntervalId);
        } else {
          fetch('/get_rSentence')
          .then(response => response.text())
          .then(data => {

            const words = data.split('*');

            if (words.length != wordcount) {
              // loop through each word and display it on a new line
              for (let i = wordcount ; i < words.length; i++) {
                const word = words[i];
                const wordElement = document.createElement('p');
                wordElement.textContent = word;
                text.insertBefore(wordElement, text.firstChild); // append to the div instead of the body
                
              }
              wordcount = words.length;
            }

            sentenceIntervalId = setInterval(updateSentence, 10);
          })
          .catch(error => {
            console.error('Error fetching sentence:', error);
          });
        }
      });
    }

    //  Fetching the sentence   
    function isTranslationDone() {
      
      // fetching the sentence only if the video is playing
      return fetch('/recorded_translation_status')
        .then(response => response.text())
        .then(data => {
          const status = data.trim(); // trim to remove any leading/trailing whitespace
          return status; // return the word
        });
    }
    
    // Clearing the sentence 
    function clearText(){
        fetch('/clear_rSentence', { method: 'POST' })
          .then(response => {
            if (response.ok) {
              // Refresh the displayed sentence
              document.getElementById('kinyarwanda_text').textContent = '';
            }
          })
          .catch(error => console.error(error));
    }
    clearText();

        
</script>
 
{% endblock javascripts %}
